body{
    margin: 0;
    margin-bottom: 0;
    background-image: url('../assets/img/fotos/d40wr16-274c53ee-157d-4065-a9a9-cc427533cf7a.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
}

    

